# --- Python ---
**/__pycache__/
**/.mypy_cache/
**/.ruff_cache/
**/.venv/
**/venv/

# --- Rust ---
**/target/
**/Cargo.lock

# --- Binary ---
**/bin/pokemon-icat

# --- Virtualenvs ---
**/.venv/

# --- Logs and caches ---
*.log
.cache/

# --- Screenshots or generated assets ---
Screenshots/

# --- Editor/OS files ---
*.swp
.DS_Store
